[Unit]
Description=Demo placeholder app

[Container]
Image=ghcr.io/zetatwo/demo-app:latest
PublishPort=127.0.0.1:8080:8080
AutoUpdate=registry

[Service]
DynamicUser=yes
Restart=always

[Install]
WantedBy=multi-user.target
